@mixin btn-sign ($color-btn-sign, $bg-color-btn ,$color-hover: $color-main, $color-hover-bg: $color-white) {
    color: $color-btn-sign;
    background: $bg-color-btn;
    border: 1px solid $color-main;

    &:hover,
    &:focus{
        color: $color-hover;
        background-color: $color-hover-bg;
        border: 1px solid $color-main;
    }
}

