// Fonts
$family-main: 'Poppins', sans-serif;

// Colors
$color-main: #000;
$color-white: #fff;
$color-grey: #C2C8DA;
$color-yellow: #E6C744;
$color-favorite-text: #7F7F7F;
$color-app-text: #7C7C7C;
$color-btn-sign: #FEFEFE;
$color-menu-text: #242323;

// BG-color
$bg-color-btn: #000;
