.btn-sign{
    font-family: $family-main;
    font-weight: 500;
    font-size: 24px;
    line-height: calc(36 / 24);
    letter-spacing: -0.03em;

    display: block;
    
    padding: 13px 22px;
    margin-left: 54px;

    @include btn-sign($color-btn-sign, $bg-color-btn, $color-main, $color-white);

    border-radius: 7px;

    transition: color 250ms linear,
        background-color 250ms linear,
        border 250ms linear;
}

.hero-wrap__btn{
    font-family: $family-main;
    font-weight: 500;
    font-size: 30px;
    line-height: calc(45 / 30);
    letter-spacing: -0.05em;
    
        color: #FFFFFF;
}